@mixin transform($prop) {
    -webkit-transform: $prop;
    -moz-transform: $prop;
    -ms-transform: $prop;
    -o-transform: $prop;
    transform: $prop;
}

@mixin transition($prop) {
    -webkit-transition: $prop;
    -moz-transition: $prop;
    -o-transition: $prop;
    transition: $prop;
    }

@mixin borderRadius($prop) {
    -webkit-border-radius: $prop;
    -moz-border-radius: $prop;
    border-radius: $prop;
}

@mixin overflowY($prop) {
    overflow-y: $prop;
    -ms-overflow-y: $prop;
}

@mixin overflowX($prop) {
    overflow-x: $prop;
    -ms-overflow-x: $prop;
}

@mixin textOverflow($prop) {
    -o-text-overflow: $prop;
    text-overflow: $prop;
}

@mixin transformOrigin($prop) {
    -webkit-transform-origin: $prop;
    -moz-transform-origin: $prop;
    -ms-transform-origin: $prop;
    -o-transform-origin: $prop;
    transform-origin: $prop;
}

@mixin boxShadow($prop) {
    -webkit-box-shadow: $prop;
    -moz-box-shadow: $prop;
    box-shadow: $prop;
}

@mixin bgSize($prop) {
    -webkit-background-size: $prop;
    -moz-background-size: $prop;
    -o-background-size: $prop;
    background-size: $prop;
}

@mixin userSelect($prop) {
    -webkit-user-select: $prop;
    user-select: $prop;
}

@mixin boxSizing($prop) {
    -webkit-box-sizing: $prop;
    -moz-box-sizing: $prop;
    box-sizing: $prop;
}

@mixin custom-col-grid($cols, $gap) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-gap: $gap;
}

@mixin custom-row-grid($rows, $gap) {
    display: grid;
    grid-template-rows: repeat($rows, 1fr);
    grid-gap: $gap;
}