@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Body
$body-bg: #ffffff; //#f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$light-dark-slim: 1px solid rgba(0,0,0,0.1);
$light-light-slim: 1px solid rgba(255,255,255,0.1);

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #3e3e3e;//#e2e0cb;/*#4267b2;*/

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Background
$dark-cthrough-bg: rgba(0,0,0,0.6);
$light-cthrough-bg: rgba(0,0,0,0.1);